<!--HEAD -->
<%- include('head'); -%>

<!-- BODY -->

<body class="code-snippets-visible">

  <div class="container">

    <%- include('header'); -%>
    <%- include('navbar'); -%>

    <div class="docs-section">
      <h1 class="docs-header">Bestiaire</h1>
      <p align="justify">
        Que serait un monde sans les espèces qui l'habitent ? Cette page présente les differentes espèces et races 
        qui peuplent le monde de Namtar en terme de physique, de dangerosité, de mode de fonctionnement social...
      </p>
    </div>

    <div class="docs-section">
      <h2 class="docs-header">La Diaspora humanoïde</h2></p>
      <img src="images/bestiary/Humanoides/PioneerPlaque.jpg" width="240" height="191"; style="float: left; padding-right:20px; padding-bottom:20px;" />
      <p align="justify">   
        Issue d’une planète appelée Terre, l’humanité est une des éspèces s’étant le plus étendu parmi la galaxie. 
        Les membres de cette espèce partagent tous un héritage morphologique évident malgré le fait que la diaspora 
        spatiale ait eu lieu il y a des centaines de milliers d’années. Ainsi, même si avec le temps, différentes 
        races d’humanoïdes sont apparues, ces derniers ressentent toujours une très forte empathie pour leurs 
        semblables malgré leurs dissensions. Les spécialistes appellent d’ailleurs ce biais artificiel le « <i>Terlien</i> » 
        et l’imputent d’une manière générale au fait que l’humanité soit une espèce faible, sans protection physique 
        naturelle et ayant donc basée sa force sur le lien social et sur l’intelligence. Enfin, les humanoïdes ont 
        surtout un rythme de reproduction très élevé, ce qui leur a permis, couplée à leurs capacités cognitives 
        élevées de coloniser rapidement la galaxie. 
      </p>
      <h3 class="docs-header">Terriens</h3>
      <p> Dangerosité : <img src="images/bestiary/humanoides/Barre_Terriens.jpg" width="100" height="25"; style="vertical-align: middle"/></p>
      <p align="justify">
        De loin les plus arrogants des humanoïdes, les terriens se considèrent comme la race originelle car ayant 
        fait le choix de rester vivre dans le système gravitant autour de leur étoile d’origine. Très attachés à 
        leur territoire, qu’ils considèrent comme sacré, les terriens sont ardument bellicistes et foncièrement 
        xénophobes. Depuis l’atomisation de Namtar, les terriens ont d’ailleurs complètement fermé leur espace à 
        toute créature non-humanoïde. N’intervenant quasiment jamais en personne, leur défense repose sur l’utilisation 
        d’une flotte de guerre spatiale dissuasive appelée « <i>Damoclès</i> ». La capitale de leur territoire, <i>Edia</i>,
        est située au cœur de leur planète d’origine. Race troglodyte, les Terriens ont la  peau blanche, de même que 
        leur chevelure. Ils possèdent deux yeux noirs, la plupart du temps hypertrophiés, deux bras et deux jambes
        et mesurent en moyenne 1m50 pour un poids de 45 kg. 
      </p>
      <h3 class="docs-header">Centauriens</h3>
      <p> Dangerosité : <img src="images/bestiary/humanoides/Barre_Centauriens.jpg" width="100" height="25"; style="vertical-align: middle"/></p>
      <p align="justify">
        Seconde race historique humanoïde, les Centauriens mesurent en moyenne 1m80 pour un poids moyen de 120 kg. 
        Leur peau rougeâtre et leurs trois yeux noirs unis sont particulièrement adaptés au spectre des radiations de 
        leur étoile d’accueil. Toutefois, les Centauriens ne sont plus du tout basés autours de leur ancienne étoile 
        foyer : grands commerçants, ils se déplacent à travers toute la galaxie à bord de géant vaisseaux cargos rouges 
        tout à fait reconnaissables. Les Centauriens sont gouvernés de manière stricte par un consortium formé des 12 
        plus riches marchands de leur race, à bord de leur capitale, <i>Proxima</i>, un vaisseau gigantesque sans cesse en mouvement 
        et qu’aucune faction saine d’esprit n’oserait prendre en chasse. Toutefois, depuis l’atomisation de Namtar, la société 
        des Centauriens connait de profondes mutations : Le pouvoir, historiquement détenu par les mêmes familles depuis 
        des générations est aujourd’hui en majorité revenu aux anciens négociants d’artefacts dont la fortune dépasse 
        aujourd’hui tout entendement…
      </p>
      <h3 class="docs-header">Nasuss</h3>
      <p> Dangerosité : <img src="images/bestiary/humanoides/Barre_Nasuss.jpg" width="100" height="25"; style="vertical-align: middle"/></p>
      <p align="justify">
		Les Nasuss sont une race humanoïde féroce vivant en clans éparses en périphérie de la galaxie. Chaque clan est 
		gouverné par un chef local partageant une connexion mentale à courte distance avec son peuple permettant notamment 
		des manœuvres de combat impressionnante. Les chefs de clans Nasuss se réunissent de manière extrêmement rare pour 
		décider de la direction à prendre pour l’ensemble de leur race. La dernière de ces assemblés a eu lieu peu de temps 
		après l’atomisation de Namtar et à vue s’établir la « <i>Grande Chasse</i> ». Tous les clans convergent donc aujourd’hui 
		lentement vers le centre de la galaxie en éliminant toute espèce sur leur chemin, exception faite des autres humanoïdes 
		qu’ils tolèrent dès lors que ces derniers montrent le respect du au chef de clan. Les Nasuss font partie des seules 
		races d’humanoïdes à avoir muté de façon significative vers une forme spécifiquement adaptée à la guerre sous sa forme 
		physique primaire. Mesurant en moyenne 2m30 pour un poids moyen de 150kg, leur peau est brune foncée et bien plus 
		épaisse que celle des autres humanoïdes ; bien qu’inutile en face d’une arme énergétique elle est capable d’arrêter 
		la plupart des projectiles à masse réactive classique et autres armes de mêlée. 
		</p>
  </div>

  <div class="docs-section">
  <h2 class="docs-header">Les fongoïdes</h2></p>
  <img src="images/bestiary/Humanoides/Fongus.png" width="240" height="191"; style="float: left; padding-right:20px; padding-bottom:20px;" />
  <p align="justify">   
        Issue d’une planète appelée Terre, l’humanité est une des éspèces s’étant le plus étendu parmi la galaxie. 
        Les membres de cette espèce partagent tous un héritage morphologique évident malgré le fait que la diaspora 
        spatiale ait eu lieu il y a des centaines de milliers d’années. Ainsi, même si avec le temps, différentes 
        races d’humanoïdes sont apparues, ces derniers ressentent toujours une très forte empathie pour leurs 
        semblables malgré leurs dissensions. Les spécialistes appellent d’ailleurs ce biais artificiel le « <i>Terlien</i> » 
        et l’imputent d’une manière générale au fait que l’humanité soit une espèce faible, sans protection physique 
        naturelle et ayant donc basée sa force sur le lien social et sur l’intelligence. Enfin, les humanoïdes ont 
        surtout un rythme de reproduction très élevé, ce qui leur a permis, couplée à leurs capacités cognitives 
        élevées de coloniser rapidement la galaxie. 
  </p>
  </div>

  <div class="docs-section">
  <h2 class="docs-header">Les Insectoïdes</h2></p>
  <img src="images/bestiary/Humanoides/Insectoides.png" width="240" height="191"; style="float: left; padding-right:20px; padding-bottom:20px;" />
  <p align="justify">   
        Issue d’une planète appelée Terre, l’humanité est une des éspèces s’étant le plus étendu parmi la galaxie. 
        Les membres de cette espèce partagent tous un héritage morphologique évident malgré le fait que la diaspora 
        spatiale ait eu lieu il y a des centaines de milliers d’années. Ainsi, même si avec le temps, différentes 
        races d’humanoïdes sont apparues, ces derniers ressentent toujours une très forte empathie pour leurs 
        semblables malgré leurs dissensions. Les spécialistes appellent d’ailleurs ce biais artificiel le « <i>Terlien</i> » 
        et l’imputent d’une manière générale au fait que l’humanité soit une espèce faible, sans protection physique 
        naturelle et ayant donc basée sa force sur le lien social et sur l’intelligence. Enfin, les humanoïdes ont 
        surtout un rythme de reproduction très élevé, ce qui leur a permis, couplée à leurs capacités cognitives 
        élevées de coloniser rapidement la galaxie. 
  </p>
  </div>

  <div class="docs-section">
  <h2 class="docs-header">Les Magna Bestia</h2></p>
  <img src="images/bestiary/Humanoides/MagnaBestia.png" width="240" height="191"; style="float: left; padding-right:20px; padding-bottom:20px;" />
  <p align="justify">   
        Issue d’une planète appelée Terre, l’humanité est une des éspèces s’étant le plus étendu parmi la galaxie. 
        Les membres de cette espèce partagent tous un héritage morphologique évident malgré le fait que la diaspora 
        spatiale ait eu lieu il y a des centaines de milliers d’années. Ainsi, même si avec le temps, différentes 
        races d’humanoïdes sont apparues, ces derniers ressentent toujours une très forte empathie pour leurs 
        semblables malgré leurs dissensions. Les spécialistes appellent d’ailleurs ce biais artificiel le « <i>Terlien</i> » 
        et l’imputent d’une manière générale au fait que l’humanité soit une espèce faible, sans protection physique 
        naturelle et ayant donc basée sa force sur le lien social et sur l’intelligence. Enfin, les humanoïdes ont 
        surtout un rythme de reproduction très élevé, ce qui leur a permis, couplée à leurs capacités cognitives 
        élevées de coloniser rapidement la galaxie. 
  </p>
  </div>

  <div class="docs-section">
  <h2 class="docs-header">L'Unité</h2></p>
  <img src="images/bestiary/Humanoides/Unite.png" width="240" height="191"; style="float: left; padding-right:20px; padding-bottom:20px;" />
  <p align="justify">   
        Issue d’une planète appelée Terre, l’humanité est une des éspèces s’étant le plus étendu parmi la galaxie. 
        Les membres de cette espèce partagent tous un héritage morphologique évident malgré le fait que la diaspora 
        spatiale ait eu lieu il y a des centaines de milliers d’années. Ainsi, même si avec le temps, différentes 
        races d’humanoïdes sont apparues, ces derniers ressentent toujours une très forte empathie pour leurs 
        semblables malgré leurs dissensions. Les spécialistes appellent d’ailleurs ce biais artificiel le « <i>Terlien</i> » 
        et l’imputent d’une manière générale au fait que l’humanité soit une espèce faible, sans protection physique 
        naturelle et ayant donc basée sa force sur le lien social et sur l’intelligence. Enfin, les humanoïdes ont 
        surtout un rythme de reproduction très élevé, ce qui leur a permis, couplée à leurs capacités cognitives 
        élevées de coloniser rapidement la galaxie. 
  </p>
  </div>

  <div class="docs-section">
  <h2 class="docs-header">Les Ethérés</h2></p>
  <img src="images/bestiary/Humanoides/Etheres.png" width="240" height="191"; style="float: left; padding-right:20px; padding-bottom:20px;" />
  <p align="justify">   
        Issue d’une planète appelée Terre, l’humanité est une des éspèces s’étant le plus étendu parmi la galaxie. 
        Les membres de cette espèce partagent tous un héritage morphologique évident malgré le fait que la diaspora 
        spatiale ait eu lieu il y a des centaines de milliers d’années. Ainsi, même si avec le temps, différentes 
        races d’humanoïdes sont apparues, ces derniers ressentent toujours une très forte empathie pour leurs 
        semblables malgré leurs dissensions. Les spécialistes appellent d’ailleurs ce biais artificiel le « <i>Terlien</i> » 
        et l’imputent d’une manière générale au fait que l’humanité soit une espèce faible, sans protection physique 
        naturelle et ayant donc basée sa force sur le lien social et sur l’intelligence. Enfin, les humanoïdes ont 
        surtout un rythme de reproduction très élevé, ce qui leur a permis, couplée à leurs capacités cognitives 
        élevées de coloniser rapidement la galaxie. 
  </p>
  </div>

  <div class="docs-section">
  <h2 class="docs-header">Les Abominations</h2></p>
  <img src="images/bestiary/Humanoides/Abominations.png" width="240" height="191"; style="float: left; padding-right:20px; padding-bottom:20px;" />
  <p align="justify">   
        Issue d’une planète appelée Terre, l’humanité est une des éspèces s’étant le plus étendu parmi la galaxie. 
        Les membres de cette espèce partagent tous un héritage morphologique évident malgré le fait que la diaspora 
        spatiale ait eu lieu il y a des centaines de milliers d’années. Ainsi, même si avec le temps, différentes 
        races d’humanoïdes sont apparues, ces derniers ressentent toujours une très forte empathie pour leurs 
        semblables malgré leurs dissensions. Les spécialistes appellent d’ailleurs ce biais artificiel le « <i>Terlien</i> » 
        et l’imputent d’une manière générale au fait que l’humanité soit une espèce faible, sans protection physique 
        naturelle et ayant donc basée sa force sur le lien social et sur l’intelligence. Enfin, les humanoïdes ont 
        surtout un rythme de reproduction très élevé, ce qui leur a permis, couplée à leurs capacités cognitives 
        élevées de coloniser rapidement la galaxie. 
  </p>
  </div>

</body>
