<!--HEAD -->
<%- include('header'); -%>

<!-- BODY -->

<body class="code-snippets-visible">

  <h3>Monsieur Lambda</h3>

    <table class="u-full-width">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Effets</th>
            <th>Coût</th>
          </tr>
        </thead>
</body>