<!--HEAD -->
<%- include('header'); -%>

<!-- BODY -->
<script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>

<body>
    <h3>Générateur de Competences</h3>
    <form method="POST" id="generateRandomSpell">
        <!--input type="text" placeholder="Set quote of the day" name="skill" /-->
        <input type="button" value="Generate" onclick="generateRandomSkill()">
    </form>
    <div class="docs-section">
        <br id="skills_section">
    </div>
    <script>var effect_list = [];</script>
    <%effets_list.forEach(function(element) { %>
    <script>
        var row = { name: "", description: "", cost: "" };
        row.name = "<%= element.name %>";
        row.description = "<%= element.description %>";
        row.cost = "<%= element.cost %>";
        effect_list.push(row);
    </script>
    <% }); %>
</body>

<script>

    function generateRandomSkill() {

        const max_effect_power = 4;
        const max_distinct_effect = 2;
        const skill_id = Math.floor(Math.random() * 1000);
        var skill = { id: skill_id, name: "Random Skill", outcomes: new Array(), total_cost: 0 };

        var distinct_effect_id_set = new Set();
        while (distinct_effect_id_set.size < max_distinct_effect) {
            var effect_id = Math.floor(Math.random() * (effect_list.length - 1)) + 1;
            distinct_effect_id_set.add(effect_id);
        };

        distinct_effect_id_set.forEach((value) => {
            var outcome = { name: "", power: "", description: "", cost: "" };
            outcome.name = effect_list[value].name;
            outcome.power = Math.floor(Math.random() * (max_effect_power - 1)) + 1;
            outcome.description = effect_list[value].description;
            outcome.cost = effect_list[value].cost;
            skill.outcomes.push(outcome);
        });

        skill.outcomes.forEach((values) => {
            skill.total_cost = skill.total_cost + (values.cost * values.power);
        });

        $('#skills_section').after(
            '<table class="u-full-width"><thead><tr>' +
            '<th><strong>' + skill.name + '</strong></th>' +
            '<th style="width:20%">' + 'Coût : ' + skill.total_cost + '</th>' +
            '</tr></thead><tbody id=\"' + skill.id + '">'
        );
        skill.outcomes.forEach((values) => {
            $('#' + skill.id).after(
                '<tr><td>' + values.description + '</td>' +
                '<td>' + values.name + ' ' + values.power + ' fois</td></tr>'
            );
        });
        $('tbody#' + skill.id).after('</tbody></table>');
    };

    function deleteRandomSkill() {

    }
</script>