<!--HEAD -->
<%- include('header'); -%>

<!-- BODY -->
<script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>

<body>
    <h3>Générateur de Competences</h3>
    <p>Nom : </p><br>
    <p><%=skill%> </p>
    <form method="POST" id="generateRandomSpell">
        <!--input type="text" placeholder="Set quote of the day" name="skill" /-->
        <input type="submit" value="Generate">
    </form>
</body>