<head>
    <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>NamtarWebApp Projet: Responsive CSS Boilerplate for ME</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

    <!-- Skeleton CSS Refs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="\stylesheets\style.css" rel='stylesheet' type='text/css'>
    <link href="\skeleton-css\css\normalize.css" rel='stylesheet' type='text/css'>
    <link href="\skeleton-css\css\skeleton.css" rel='stylesheet' type='text/css'>

    <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="\javascripts\site.js"></script>
    
</head>