<head>
    <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>NamtarWebApp Projet: Responsive CSS Boilerplate for ME</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

    <!-- Skeleton CSS Refs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="\css\style.css" rel='stylesheet' type='text/css'>
    <link href="\skeleton-css\css\normalize.css" rel='stylesheet' type='text/css'>
    <link href="\skeleton-css\css\skeleton.css" rel='stylesheet' type='text/css'>

    <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="\js\site.js"></script>

    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <h1 class="title"> Namtar : Le guide du voyageur spatial </h1>
            </div>
        </div>

        <div class="navbar-spacer"></div>
        <nav class="navbar">
            <div class="container">
                <ul class="navbar-list">
                    <li class="navbar-item"><a class="navbar-link" href="/">Intro</a></li>
                    <li class="navbar-item"><a class="navbar-link" href="/histoire">Histoire</a></li>
                    <li class="navbar-item">
                        <a class="navbar-link" href="/regles" data-popover="#codeNavPopover">Les Règles : Chapitre 1</a>
                        <div id="codeNavPopover" class="popover">
                            <ul class="popover-list">
                                <li class="popover-item">
                                    <a class="popover-link" href="/regles">intro</a>
                                </li>
                                <li class="popover-item">
                                    <a class="popover-link" href="#caracteristiques">Les Caracteristiques</a>
                                </li>
                                <li class="popover-item">
                                    <a class="popover-link" href="#savoirFaire">Les Savoir Faire</a>
                                </li>
                                <li class="popover-item">
                                    <a class="popover-link" href="#competences">Les Competences</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="navbar-item"><a class="navbar-link" href="#generateur">Générateur de Competences</a></li>
                </ul>
            </div>
        </nav>
</head>