<!--HEAD -->

<head>
    <!-- Basic Page Needs
            –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>NamtarWebApp Projet: Responsive CSS Boilerplate for ME</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
            –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Skeleton CSS Refs
            –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="\css\style.css" rel='stylesheet' type='text/css'>
    <link href="\skeleton-css\css\normalize.css" rel='stylesheet' type='text/css'>
    <link href="\skeleton-css\css\skeleton.css" rel='stylesheet' type='text/css'>

    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <h1 class="title"> Namtar : Le guide du voyageur spatial </h1>
            </div>
        </div>

        <nav class="navbar">
            <div class="container">
                <ul class="navbar-list">
                    <li class="navbar-item"><a class="navbar-link" href="/">Intro</a></li>
                    <li class="navbar-item"><a class="navbar-link" href="/histoire">Histoire</a></li>
                    <li class="navbar-item">
                        <a class="navbar-link" href="#" data-popover="#personnage">Gestion de votre Personnage</a>
                        <div id="codeNavPopover" class="popover">
                            <ul class="popover-list">
                                <li class="popover-item">
                                    <a class="popover-link" href="#grid">Grid</a>
                                </li>
                                <li class="popover-item">
                                    <a class="popover-link" href="#typography">Typography</a>
                                </li>
                                <li class="popover-item">
                                    <a class="popover-link" href="#buttons">Buttons</a>
                                </li>
                                <li class="popover-item">
                                    <a class="popover-link" href="#forms">Forms</a>
                                </li>
                                <li class="popover-item">
                                    <a class="popover-link" href="#lists">Lists</a>
                                </li>
                                <li class="popover-item">
                                    <a class="popover-link" href="#code">Code</a>
                                </li>
                                <li class="popover-item">
                                    <a class="popover-link" href="#tables">Tables</a>
                                </li>
                                <li class="popover-item">
                                    <a class="popover-link" href="#queries">Queries</a>
                                </li>
                                <li class="popover-item">
                                    <a class="popover-link" href="#utilities">Utilities</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="navbar-item"><a class="navbar-link" href="#generateur">Générateur de Competences</a></li>
                </ul>
            </div>
        </nav>
</head>