<head>
    <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>NamtarWebApp Projet: Responsive CSS Boilerplate for ME</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

    <!-- Skeleton CSS Refs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="\stylesheets\style.css" rel='stylesheet' type='text/css'>
    <link href="\skeleton-css\css\normalize.css" rel='stylesheet' type='text/css'>
    <link href="\skeleton-css\css\skeleton.css" rel='stylesheet' type='text/css'>

    <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="\javascripts\site.js"></script>

    <div class="container">

        <div class="row">
            <div class="twelve columns">
                <h1 class="title"> Namtar : Le guide du voyageur spatial </h1>
            </div>
        </div>

        <div class="navbar-spacer"></div>
        <nav class="navbar">
            <div class="container">
                <ul class="navbar-list">
                    <li class="navbar-item"><a class="navbar-link" href="/">Intro</a></li>
                    <li class="navbar-item"><a class="navbar-link" href="/histoire">Histoire</a></li>
                    <li class="navbar-item">
                        <a class="navbar-link" href="/reglesChap1" data-popover="#NavPopoverRegles">Les Règles</a>
                        <div id="NavPopoverRegles" class="popover">
                            <ul class="popover-list">
                                <li class="popover-item">
                                    <a class="popover-link" href="/reglesChap1">Chapitre 1 : Le
                                        Personnage</a>
                                </li>
                                <li class="popover-item">
                                    <a class="popover-link" href="/reglesChap2">Chapitre 2 : Le Combat</a>
                                </li>
                                <li class="popover-item">
                                    <a class="popover-link" href="/reglesChap3">Chapitre 3 : Les Soins</a>
                                </li>
                                <li class="popover-item">
                                    <a class="popover-link" href="/reglesChap4">Chapitre 4 : Le Marcher</a>
                                </li>
                                <li class="popover-item">
                                    <a class="popover-link" href="/reglesChap5">Chapitre 5 : le Magouillage</a>
                                </li>
                                <li class="popover-item">
                                    <a class="popover-link" href="/reglesChap6">Chapitre 6 : La Navigation</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="navbar-item"><a class="navbar-link" href="/generateur">Générateur de Competences</a></li>
                    <li class="navbar-item"><a class="navbar-link" href="/fichePerso">Fiche Personnage</a>
                    </li>
                </ul>
            </div>
        </nav>
</head>