<!--HEAD -->
<%- include('header'); -%>

<!-- BODY -->

<body class="code-snippets-visible">
  <section>
    <div class="row">
      <div class="twelve columns docs-section">
        <h3>Histoire</h3>
        <h4>Préambule</h4>
        <p>
          Quelques siècles après avoir trouvé un moyen de contourner les lois de la physique, et de percer le secret
          du voyage interstellaire, l’humanité a trouvé sa place au sein de plusieurs autres civilisations. La
          galaxie est en constante ébullition ; des civilisations naissent et périssent, des guerres se déclarent,
          et se terminent… Et tout le monde s’en fout en fait. On se dit que c’est dans la nature des êtres vivants
          doués de conscience. Avec une telle effervescence du monde, chacun essaie de trouver sa voie en jouant des
          coudes. Certains cherchent la richesse et la gloire, d’autres veulent tout simplement survivre (C'est vous
          ça. Du moins au début). Certaines places fortes du commerce inter-espèces jouissent d’une réglementation
          forte, d’armées puissantes et de technologies avancées. Des territoires oubliés en revanche mettent
          l’accent sur la loi du plus fort.
        </p>
        <h4>La goutte d'eau...</h4>
        <p>
          Seulement voilà, ça avait beau être déjà un joyeux bordel, il fallait que quelque chose vienne ajouter sa
          pierre à l’édifice, comme pour prouver qu’on peut toujours en faire plus… C'est parti de rien, en plus.
          Des fanatiques de l’exploration galactique, conscients que les 10^22 systèmes grouillant dans la galaxie
          ne demandaient qu’à être explorés, et prospectés (pillés), sont finalement arrivés près du centre de la
          galaxie. Là, ils ont découvert une série d’anomalies physique cohabitant parfaitement. Le genre
          d'anomalies qui détruisent toutes les thèses scientifiques sur lesqueles on pouvais s'appuyer jusqu'a
          aujourd'hui. Mieux encore, en plein cœur de cette formation se trouvait une planète habitable (Oui, je
          vous le jure). Et qui fut habité par des êtres doués de conscience et d’une grande culture, si on s’en
          réfère aux architectures grandioses et aux objets finement ouvragés retrouvés lors des excavations de la
          planète par les explorateurs. Cette civilisation n’avait sans doute pas encore découvert la poudre à
          canon, et pourtant, des structures immenses à l’architecture si particulière se dressaient vers le ciel
        </p>
        <p>
          Rapidement, les colifichets et les artéfacts de cette civilisation si curieuse furent vendus aux plus
          offrants à travers toutes les galaxies. Très prisée par les collectionneurs, ces antiquités étaient
          synonymes de richesse, et attiraient la curiosité du contemporain, comme de l’historien avide de percer le
          secret de la civilisation. Face à cette demande en hausse, les excavations continuèrent de plus belle, car
          il se trouvait que la plate surface de la planète n’était que la première couche d’un incroyable
          millefeuille de curiosités et de découvertes. Du candélabre à la masse d’arme, en passant par des
          instruments sortis d’une époque moyenâgeuse, tout était vendu à un prix démesuré.
        </p>
        <p>
          Face à un vide-grenier si fructueux, il y eut naturellement des conflits, des arrangements, des
          assassinats,
          du marché noir, et toutes les autres activités politique régulières pour essayer de s’approprier un
          maximum
          de terrain de la planète, et des astres aux alentours. Ce coin perdu de la galaxie était la confluence de
          toutes les espèces cherchant le profit.
        </p>
        <h4>... Qui fait déborder l'océan</h4>
        <p>
          Mais ils creusèrent trop profondément, et avec trop d’avidité… Et dans les ténèbres, ils réveillèrent la
          chose responsable du génocide des hôtes de ces lieux. Une anomalie de la biologie,
          comme de celle de l’esprit, capable de dévorer tout ce qui se mettait en travers de son chemin. Un
          monstre titanesque, qui semblait aspirer insatiablement la vie et l’énergie des créatures dans sa
          proximité, et qu’ils l’appelèrent Namtar.
        </p>
        <p>
          Parmi les races présentes dans le secteur, il ne fallut pas plus de quelques jours pour constater que
          les commerces présents sur place ne valaient pas grand-chose face à la menace que représentait Namtar
          pour le monde entier. Il fut donc décidé, à la grande majorité, d’effectuer l’acte le plus fiable face à
          cette situation nouvelle : l’atomiser avec ce qu’il se faisait de plus gros à l’époque en matière de
          « pacificateur ». Avec les dernières découvertes de la Légion de Fer, avec l’aide de plusieurs
          organismes militaires et scientifiques reconnue à travers toutes les espèces, l’enfer s’abattit sur le
          système qui autrefois faisait les fortunes des plus grands de la galaxie. Le monstre ne résista pas face
          à une telle dose de subtilité et explosa littéralement dans un Bigbang apocalyptique qui réduisit la
          plupart des forces présentes à néant, détruisit les planètes les plus proches, et fit changer d’orbite
          plusieurs étoiles à quelques années-lumière de là.
        </p>
        <p>
          Mais l’histoire ne s’arrêta pas là car Namtar portait en lui quelque chose, une énergie nouvelle, une
          sorte de fluide, qui s'éparpilla dans toute la galaxie lors de sa nucléation. Peu de temps après, des
          personnes avec d’étranges pouvoirs firent leurs apparitions aux quatre coins de la galaxie, prétendant
          qu’il pouvait manipuler cette énergie malléable pour accomplir de grandes choses. Les possesseurs
          d'artefacts et d’objets originaires de la planète originelle remarquèrent alors également qu’une force
          nouvelle habitait leurs inoffensifs ustensiles décoratifs. Certains objets, correctement manipulés,
          étaient capables de déployer une grande quantité de pouvoir et offraient des capacités improbables à
          leurs porteurs. Une nouvelle chasse à l'artefact était donnée, cette fois-ci beaucoup plus importante !
          Les ambitieux cherchaient le pouvoir à travers la récupération de ces objets de pouvoir, d’autres, plus
          scientifiques, voulaient comprendre comment cette magie fonctionnait, enfin un grand nombre évoquaient
          l’apparition de ces objets comme prophétiques et juraient qu’il fallait faire acte de foi face à eux et
          aux êtes imprégnés.
        </p>
      </div>
    </div>
  </section>
</body>