<!DOCTYPE html>
<html>
    <head>
        <title>Generateur de Sort Aleatoire</title>
    </head>
    <body>
        <h1>Generateur de Sort</h1>
        <p><%= paramettreTransmit%></p>
    </body>
</html>