<!--HEAD -->
<%- include('header'); -%>

<!-- BODY -->
<body>
  <section class="services">
    <div class="row">
      <div class="twelve columns">
        <h3>Focus sur les outils a venir</h3>
      </div>
    </div>
    <div class="row">
      <div class="one-half column">
        <h4>Les règles à suivre pour survire</h4>
        <span class="fa fa-picture-o"></span>
        <p>Pour cette première version de mon rapport, j'èspère pourvoir vous transmettre le minimum à savoir pour que
          votre éspérence de vie dépace celle des organismes unicellulaires que vous pourriez croiser tout a long de
          votre périble. Bien sûr, il manqueras des chapitre et peux être même des conceptes clé, mais que voulez vous
          de plus... Je suis le seul a vous proposer ce guide</p>
      </div>
      <div class="one-half column">
        <h4>Générateur de Compétences</h4>
        <span class="fa fa-leaf"></span>
        <p>Les Echos sont facinants. On peut faire tout ce qu'on veux avec, et en même temps, il a beaucoup de rêgle a
          suivre pour le faire correctement.Il faudrai une vie pour bien comprendre comment ils fonctionnent. C'est
          plus simple d'avoir ce petit outils avec soi.</p>
      </div>
    </div>
    <!--end of .row-->
  </section>
  </div>
  <!--end of .container-->

  <!--ABOUT-->
  <section class="about">
    <div class="container">
      <div class="row">
        <div class="twelve columns">
          <h3>Qui suis-je ?</h3>
        </div>
      </div>
      <!--end of .row-->
      <div class="row bottom">
        <div class="two-thirds column">
          <p>Même si cette question peut, soit vous laisser totalement indifferent, soit piquer au plus vif votre
            curiosité, je vais m'empresser de vous donner une réponse tout à fait non-pertinante. Vous ne me connaissez
            pas et c'est trés bien comme ça (Que ferais-je d'une connaissance comme vous, mettez-vous un peu à ma
            place). Je suis juste quelqu'un qui vous propose de vous ouvrir certaine portes. Ce que j'y gagne ne vous
            regarde pas, vous en conviendrez.
          </p>
          <p>Par ailleurs, si vous esperiez en savoir plus sur moi, vous avez sur votre droite une liste de titre qui
            n'on potentiellement rien a voir avec moi. Mais je supute que sur lecture en diagonale de mon oeuvre, vous
            pourriez pensez qu'il s'agisse de titre veridict attestant de mes qualités. Ca sera d'ailleurs un fil
            directeur, si vous lisez une sections sur deux, vous saurez trés bien préseverer dans l'echec via
            désinformation. Mais rassurez vous, il s'agira sans doute de la seule sections fausse. le reste n'est que
            pure véritée (je ne vais quand même pas saborder mon travail). </p>

        </div>
        <div class="one-third column">
          <h4>Certifications</h4>
          <ul>
            <li>Pontif de l'Eglise des Prospecteurs </li>
          </ul>
          <h4>Titres Honorifiques</h4>
          <ul>
            <li>Titre d'éminence grise de la LRR des systemes d'information</li>
            <li>Meilleur ecriture sur papier au concour de Malgan-Les-Pruniers</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  </div>
</body>