<nav class="navbar">
    <div class="container">
        <ul class="navbar-list">
            <li class="navbar-item"><a class="navbar-link" href="/">Intro</a></li>
            <li class="navbar-item"><a class="navbar-link" href="/histoire">Histoire</a></li>
            <li class="navbar-item">
                <a class="navbar-link" href="/reglesChap1" data-popover="#NavPopoverRegles">Les Règles</a>
                <div id="NavPopoverRegles" class="popover">
                    <ul class="popover-list">
                        <li class="popover-item">
                            <a class="popover-link" href="/reglesChap1">Chapitre 1 : Le
                                Personnage</a>
                        </li>
                        <li class="popover-item">
                            <a class="popover-link" href="/reglesChap2">Chapitre 2 : Le Combat</a>
                        </li>
                        <li class="popover-item">
                            <a class="popover-link" href="/reglesChap3">Chapitre 3 : Les Soins</a>
                        </li>
                        <li class="popover-item">
                            <a class="popover-link" href="/reglesChap4">Chapitre 4 : Le Marcher</a>
                        </li>
                        <li class="popover-item">
                            <a class="popover-link" href="/reglesChap5">Chapitre 5 : le Magouillage</a>
                        </li>
                        <li class="popover-item">
                            <a class="popover-link" href="/reglesChap6">Chapitre 6 : La Navigation</a>
                        </li>
                        <li class="popover-item">
                            <a class="popover-link" href="/effets">Annexe : Table des Effets</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="navbar-item"><a class="navbar-link" href="/generateur">Générateur de Competences</a></li>
            <li class="navbar-item"><a class="navbar-link" href="/fichePerso">Fiche Personnage</a>
            </li>
        </ul>
    </div>
</nav>