<!--HEAD -->
<%- include('header'); -%>

<!-- BODY -->

<body>
  <div class="row">
    <div class="docs-section" id="intro">
      <h3>Intro</h3>
      <p> Ici, on va parler de vous. Non pas que je porte un quelconque interet a vos probleme personnel, mais il
        important que nous communiquions avec les même termes. Et ça passe par une definition complète de vous. Je vais
        essayer d'être le plus bref possible pour être sûr que vous me suivrez jusqu'au bout.
      </p>
    </div>

    <div class="docs-section" id="caracteristiques">
      <h3>Caracteristiques</h3>
      <p>Ce que je vais appeler <strong>Caracteristiques</strong>, c'est vos prédispositions physiques qui vont être a
        la base de toutes vos capacitée. Voyez le un peu comme le talent, qu'il sois inné ou acquis au fûr et a mesure
        de votre existance.
      </p>
      <div class="container">
        <div class="row">
          <div class="four columns">
            <h5>Vigueur</h5>
            <p>La Vigueur regroupe la puissance physique ; la force brute et la robustesse du personnage, mais aussi sa
              capacitée à s'en servir quand il le faut.</p>
          </div>
          <div class="four columns">
            <h5>Agilité</h5>
            <p>L'Agilité mesure l'adresse, la coordination et la précision. Les personnages dotés d'une Agilité élevée
              ont un bon sens de l'équilibre, sont souple et habile de leurs mains.</p>
          </div>
          <div class="four columns">
            <h5>Intelligence</h5>
            <p>
              L'intelligence reprend les facultés de compréhension, l'éducation, l'acuité mentale ; et les capacités de
              raisonnement et de rationalisation. Les personnages avec une intelligence élevée peuvent extrapoler, se
              souvenir de détails et tirer parti d'expériences passées.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="four columns">
            <h5>Ruse</h5>
            <p>
              La Ruse traduit l'ingéniosité, la fourberie, la perspicacité et la créativité. Les personnages avec une
              Ruse élevée ont de la jugeote, saisissent rapidement leur environnement et ceux qui les entourent, et
              préparent plus vite leurs plan et tactiques.
            </p>
          </div>
          <div class="four columns">
            <h5>Volonté</h5>
            <p>
              La Volonté reflète la discipline, le sang-froid, la force d'âme et l'assurance d'un personnage. Les
              personnages dotés d'une Volonté élevée résistent au stress et la fatigue mentale, gardent leur calme dans
              des
              situations chaotique</p>
          </div>
          <div class="four columns">
            <h5>Présence</h5>
            <p>
              La Présence regroupe le cran, le charisme, la confiance et la force de caractère. Les personnages dotés
              d'une Présence élevée sont des leaders tout désignés, attirent es regards quand ils entrent dans une
              pièce, mènent facilement une conversation avec n'importe qui et s'adaptent facilement à toute situation en
              société.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="docs-section" id="apptitudes">
      <h3>Les Apptitudes</h3>
      <p> Les <strong>Apptitudes</strong> regroupe tout les savoirs faire que vous avez aquis avec des
        formations ou des experiences personnelles. Chaques fois qu'un challenge survient, vous utilisez vos apptitude
        pour le resoudre. Vos <strong>Caractéristiques</strong> influencent evidement en grande partie sur le score de
        chacune de vos <strong>Apptitudes</strong>
      </p>

      <table class="u-full-width">
        <thead>
          <tr>
            <th>Apptitude</th>
            <th>Caracteristique Associé</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Athlétisme</td>
            <td>Vigueur</td>
          </tr>
          <tr>
            <td>Artillerie</td>
            <td>Agilité</td>
          </tr>
          <tr>
            <td>Pugilat</td>
            <td>Vigueur</td>
          </tr>
          <tr>
            <td>Distance</td>
            <td>Agilité</td>
          </tr>
          <tr>
            <td>Corps à corps</td>
            <td>Vigueur</td>
          </tr>
          <tr>
            <td>Commandement</td>
            <td>Présence</td>
          </tr>
          <tr>
            <td>Charme</td>
            <td>Présence</td>
          </tr>
          <tr>
            <td>Pilotage</td>
            <td>Agilité</td>
          </tr>
          <tr>
            <td>Survie</td>
            <td>Ruse</td>
          </tr>
          <tr>
            <td>Mécaniques</td>
            <td>Intelligence</td>
          </tr>
          <tr>
            <td>Médecine</td>
            <td>Intelligence</td>
          </tr>
          <tr>
            <td>Informatique</td>
            <td>Intelligence</td>
          </tr>
          <tr>
            <td>Négociation</td>
            <td>Présence</td>
          </tr>
          <tr>
            <td>Calme</td>
            <td>Ruse</td>
          </tr>
          <tr>
            <td>Tromperie</td>
            <td>Ruse</td>
          </tr>
          <tr>
            <td>Coercition</td>
            <td>Volonté</td>
          </tr>
          <tr>
            <td>Magouille</td>
            <td>Ruse</td>
          </tr>
          <tr>
            <td>Perception</td>
            <td>Ruse</td>
          </tr>
          <tr>
            <td>Vigilance</td>
            <td>Volonté</td>
          </tr>
          <tr>
            <td>Discrétion</td>
            <td>Agilité</td>
          </tr>
          <tr>
            <td>Coercition</td>
            <td>Volonté</td>
          </tr>
          <tr>
            <td>Magouille</td>
            <td>Ruse</td>
          </tr>
          <tr>
            <td>Maîtrise du Fluide</td>
            <td>Volonté</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="docs-section" id="competences">
      <h3>Compétences</h3>
      <p> C'est la que je vous demande toute votre attention. Parceque c'est ici que vous allez pouvoir évoluer, et vous
        démarquer. La <strong>Compétences</strong>, c'est une action qui utilise la <strong>Résonnance</strong> pour
        prendre effet. Tout le monde peux les utiliser, mais seuls les bons savent comment bien le faire. Il y a déjà
        des centaines de
        competences que vous pourrez apprendre dans la galaxie. Mais si vous arriver a bien maitrisé le concept, vous
        pourrez un jour creez vos propres <strong>Compétences</strong>.
      </p>
    </div>
  </div>
</body>