<!--HEAD -->
<%- include('head'); -%>

<!-- BODY -->

<body class="code-snippets-visible">

  <div class="container">

    <%- include('header'); -%>
    <%- include('navbar'); -%>

    <div class="docs-section">
      <h1 class="docs-header">L'Atrogation</h1>
    </div>
    <div class="docs-section">
      <h1 class="docs-header">La Survie</h1>
    </div>
  </div>
</body>