<!--HEAD -->
<%- include('header'); -%>

<!-- BODY -->

<body>
  <div class="row">
    <h2>La raretée</h2>
    <h2>Les Niveau de marcher</h2>
    <h2>La recherche d'objets</h2>
    <h2>Le marcher noir</h2>
  </div>
</body>