<!--HEAD -->
<%- include('header'); -%>

<!-- BODY -->

<body>
  <div class="row">
    <div class="docs-section" id="intro">
      <h3>Intro</h3>
      <p> Cette section est destinée a vous expliquer comment vous comporter.
      </p>
    </div>
  </div>
</body>