<!--HEAD -->
<%- include('header'); -%>

<!-- BODY -->

<body>
  <div class="row">
    <h2>La medecine générale </h2>
    <h2>En Situation de stress : Les premiers soins</h2>
    <h2>Hors Combat</h2>
    <h2>Les Blessures Critiques</h2>
  </div>
</body>