<!--HEAD -->
<%- include('header'); -%>

<!-- BODY -->

<body>
  <div class="row">
    <div class="docs-section" id="intro">
      <h2>Etape 1 : L'initiative </h2>
      <p>Chaque personnage effectue un test de Calme ou de Vigilance Simple (-),
        selon qu’il avait planifié l’attaque ou qu’il est surpris. Classez les résultats du plus grand nombre de Succès
        au plus petit. Chaque résultat ouvre un créneau pour l’action d’un personnage. En cas d’égalité, on compare le
        nombre d’Avantages, les PJ étant les premiers à agir si l’égalité persiste.
      </p>
      <h2>Etape 2 : La Resulotion des tour</h2>
      <p>Chaque round commence au sommet de l’ordre d’initiative. Si le créneau d’initiative avait été obtenu par un
        membre de votre groupe, entendez vous entre vous pour décider qui va occuper ce créneau parmi ceux qui n’ont pas
        encore agi lors de ce round. Si le créneau d’initiative avait été obtenu par un Adversaire, c’est le groupe
        d'enemi qui choisit lequel d'entre eux va occuper ce tour parmi ceux qui n’ont pas encore agi à ce round.</p>
      <p>Ce PNJ joue alors son tour. À son tour de jeu, le personnage a la possibilité d’entreprendre plusieurs
        broutilles, une manœuvre et une action.</p>
      <div class="row">
        <div class="four columns">
          <h6>Broutilles</h6>
          <p>Ces petites actions ne requièrent en générale aucune concentration, et peuvent être éxécutée
            instinctivement
            par les personnage. Comme s'adresser a un autre personnage ou lacher un object.</p>
          </p>
        </div>
        <div class="four columns">
          <h6>Manoeuvre</h6>
          <p>Les Manoeuvre sont des taches simples qui ne demandent aucun test d'Aptitude, mais qui demandent un minimum
            d'effort pour être executées. Comme ce déplacer d'un niveau de portée, ou dégainer son arme.</p>
        </div>
        <div class="four columns">
          <h6>Action</h6>
          <p>Ces tâches sont suffisament complexes pour exiger un test pour determiner leur réussite. Cela comprend
            Attaquer, mais aussi s'approcher discretement d'un adversaire par exemple</p>
        </div>
      </div>
    </div>
    <h2>Etape 3 : Fin du tour</h2>
    <p>Une fois tout les crénaux passé, on reprends un tour de jeu a partir de l'Etape 2 tant qu'il y aura des acteurs
      pour la confrontation.</p>
    <h2>Etape 4 : Fin du Combat</h2>
    <p>Une fois que l’affrontement est résolu, chaque personnage joueur en profite pour reprendre son souffle et évacuer
      le stress et peut même participer aux soins apportés à n’importe quel personnage blessé.
    </p>
  </div>
</body>