<!--HEAD -->
<%- include('head'); -%>

<!-- BODY -->

<body class="code-snippets-visible">

  <div class="container">

    <%- include('header'); -%>
    <%- include('navbar'); -%>

    <div class="docs-section">
      <h1 class="docs-header">En Situation de stress : les premiers soins</h1>
      <p align="justify">Si des Blessures sont subit en situation de stress, vous ne pourrez les traiter qu'avec des
        <strong>Compétence</strong>s
        particulières ou des objets adaptés tels que les stimpacks. L'aptitude <strong>Médecine</strong> demande un
        temps d'application
        généralement trop long pour de telles situations (quelques minutes au minimum).</p>
      <p>Vous avez donc le choix dans deux Actions :</p>
      <div class="row">
        <div class="six columns">
          <h1 class="docs-header">Utiliser une <strong>Compétence</strong> ou un objet</h1>
          <p align="justify"> La qualité des soins appliqués est determinée par l'objet ou la <strong>Compétence</strong>.
          </p>
        </div>
        <div class="six columns">
          <h1 class="docs-header">Stabiliser</h1>
          <p align="justify">Si un compagnon d'aventure est hors combats, et que son diagnostique vital est engagé (saignement par
            exemple), vous pouvez utiliser l'Aptitude <strong>Médecine</strong> pour stopper la perte de PV. Dans ce
            cas
            précis, il est
            nécessaire que celui qui prodigue les soins soit constamment avec le patient, et doit effectuer un test à
            chaque tour. La difficulté du test est égale à la quantité de PV qui serait normalement perdue par la
            cible.
          </p>
        </div>
      </div>
    </div>
    <div class="docs-section">
      <h1 class="docs-header">Hors Combat</h1>
      <p align="justify">La moindre Blessure reçue, pendant un combat ou une situation dangereuse, peut-être soignée si elle est
        traitée
        rapidement avec les bons moyens. Toute personne raisonnablement douée de bon sens pourra utiliser son aptitude
        en <strong>Médecine</strong> pour éviter les bobos des copains. Cependant, ne vous faites pas trop
        d'illusion...
        On ne soigne pas
        un tir de blaster avec le tissu des sous-vêtements un bisou magique (sauf dans les cas où il s'avère
        qu'effectivement le bisou soit magique, bien évidement). C'est pourquoi vous verrez si dessous l'échelle de
        difficulté dans l'application des soins.
      </p>
      <div class="row">
        <p class="six columns">Chaque <strong>Succès</strong> sur le test soigne 1 Blessure.</p>
        <p class="six columns">Chaque <strong>Échec</strong> inflige 1 Blessure.</p>
      </div>
      <div class="row">
        <p class="six columns">Chaque <strong>Avantage</strong> soigne 1 Stress.</p>
        <p class="six columns">Chaque <strong>Menace</strong> Inflige 1 Point de Stress.</p>
      </div>
      <div class="row">
        <div class="four columns">
          <h1 class="docs-header">Avec les outils du bords</h1>
          <p align="justify">Si vous n'avez pas de matériel médical, vous ne pourrez vous occuper que des commotions et des
            égratignures. Ne tentez pas autres choses, vous risquez de faire plus de mal que de bien.</p>
          <p>Difficulté du test de <strong>Médecine</strong></p>
          <ul>
            <li>Santé supérieure à 50% : Moyenne </li>
            <li>Santé supérieure à 0% : Difficile </li>
            <li>Santé inférieure à 0% : Exceptionnel </li>
          </ul>
        </div>
        <div class="four columns">
          <h1 class="docs-header">Un Medipack</h1>
          <p align="justify">Normalement, vous avez de quoi subvenir à tous les besoins primordiaux. Cependant, oubliez toutes les
            opérations pour les blessures critiques, ou l'exposition avec des substances toxiques. </p>
          <p>Difficulté du test de <strong>Médecine</strong></p>
          <ul>
            <li>Santé supérieure à 50% : Facile </li>
            <li>Santé supérieure à 0% : Moyenne </li>
            <li>Santé inférieure à 0% : Intimidante </li>
          </ul>
        </div>
        <div class="four columns">
          <h1 class="docs-header">Une Salle d'operation</h1>
          <p align="justify">Avec tous les outils à porté de main, les capteurs et les machines a votre disposition, vous pourrez
            venir
            à bout des plus gros bobos.
          </p>
          <p>Difficulté du test de <strong>Médecine</strong></p>
          <ul>
            <li>Santé supérieure à 50% : Facile </li>
            <li>Santé supérieure à 0% : Facile </li>
            <li>Santé inférieure à 0% : Difficile </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <h1 class="docs-header">Modificateurs additionnels
        </h1>
        <ul>
          <li>Vous n'effectuez pas vos soins dans un endroit confiné. Vous vous exposez à des risques d'infections :
            Ajouter 1 <strong>Dé d'Infortune</strong>
          </li>
          <li>Vous ne pouvez pas immobiliser le patient sur une surface stable. Vous ne pourrez pas manipuler
            confortablement : Ajouter 1 <strong>Dé d'Infortune</strong></li>
        </ul>
      </div>
    </div>
  </div>
</body>