<!--HEAD -->
<%- include('header'); -%>

<!-- BODY -->

<body class="code-snippets-visible">
  <div class="docs-section" id="intro">
    <h3>Introduction</h3>
    <p> Ici, on va parler de vous. Non pas que je porte un quelconque intérêt à vos problèmes personnel, mais il
      important que nous communiquions avec les même termes. Et ça passe par une définition complète de vous. Je vais
      essayer d'être le plus bref possible pour m'assurer de votre compréhension.
    </p>
  </div>

  <div class="docs-section" id="generalites">
    <h3>Généralités</h3>
    <p> Pour commencer, nous allons définir plusieurs indicateurs qui vont vous suivre tout le long de votre périple.
    </p>
    <div class="row">
      <div class="four columns">
        <h5>La jauge de Santé (PV)</h5>
        <p> Celle-ci représente votre santé. Si elle tombe à 0, c'est que vous n'êtes plus capable de faire quoi que ce
          soit. Si elle continue à descendre en dessous, votre pronostique vital est engagé. </p>
        <p>Son score de départ est égal à 10 + <strong>Vigueur</strong></p>
      </div>
      <div class="four columns">
        <h5>La jauge d'énergie (PE)</h5>
        <p>Celle-ci représente votre fatigue physique et mentale. Elle est aussi liée à la <strong>Résonnance</strong>.
          Si
          elle tombe à 0,
          c'est que vous êtes dans un état de fatigue ou de confusion qui vous empêches d'agir. Vous comprendrez que
          cette
          jauge peut facilement bouger, a l'instar de la jauge de santés qui elle, devrait plutôt rester fixe (en tout
          cas,
          je l'espère pour vous).</p>
        <p>Son score de départ est égal à 10 + <strong>Volontée</strong></p>
      </div>
      <div class="four columns">
        <h5>L'Encaissement</h5>
        <p>C'est votre résistance physique. Chaque fois qu'on tentera de déstabiliser votre intégrité physique, vous
          devrez
          soustraire sa valeur des dégâts reçus.
        </p>
        <p>Son score initial de départ est égal à la <strong>Vigueur</strong></p>
      </div>
    </div>
  </div>

  <div class="docs-section" id="caracteristiques">
    <h3>Caractéristiques</h3>
    <p>Je vous parle de <strong>Vigueur</strong> sans vous avoir introduit cette notion. Nous y voila justement ! Ce que
      je vais appeler
      <strong>Caractéristiques</strong>, ce sont vos prédispositions physiques qui vont être à la base de toutes vos
      capacités. Voyez-le
      un peu comme le talent, qu'il soit inné ou acquis au fur et à mesure de votre existence.
    </p>
    <p>
      Nous allons définir ensemble une échelle de valeur pour les <strong>Caractéristiques</strong> allant de <strong>1
        à 6</strong>. C'est juste pour que
      vous vous situez par rapport aux autres humanoïde. 1 étant l'absence totale de talent (très rare, mais j'ai
      confiance en vous pour me prouver que c'est possible), et 6 étant le score des spécimens les plus impressionnants,
      bien au delà de la moyenne. En parlant de moyenne, dites-vous qu'en général, les êtres vivants humanoïde tournent
      autour de 2 (moyenne classique) et 3 (qualités notables).</p>
    <div class="row">
      <div class="four columns">
        <h5>Vigueur</h5>
        <p>La <strong>Vigueur</strong> regroupe la puissance physique ; la force brute et la robustesse du personnage,
          mais aussi sa
          capacité à s'en servir quand il le faut.
        </p>
      </div>
      <div class="four columns">
        <h5>Agilité</h5>
        <p><strong>L'Agilité</strong> mesure l'adresse, la coordination et la précision. Les personnages dotés d'une
          Agilité élevée ont
          un bon sens de l'équilibre, sont souples et habiles de leurs mains.
        </p>
      </div>
      <div class="four columns">
        <h5>Intelligence</h5>
        <p>
          L'<strong>Intelligence</strong> reprend les facultés de compréhension, l'éducation, l'acuité mentale ; et les
          capacités de
          raisonnement et de rationalisation. Les personnages avec une intelligence élevée peuvent extrapoler, se
          souvenir de détails et tirer parti d'expériences passées.</p>
      </div>
    </div>
    <div class="row">
      <div class="four columns">
        <h5>Ruse</h5>
        <p>
          La <strong>Ruse</strong> traduit l'ingéniosité, la fourberie, la perspicacité et la créativité. Les
          personnages avec une Ruse
          élevée ont de la jugeote, saisissent rapidement leur environnement et ceux qui les entourent, et préparent
          plus vite leurs plans et tactiques.
        </p>
      </div>
      <div class="four columns">
        <h5>Volonté</h5>
        <p>
          La <strong>Volonté</strong> reflète la discipline, le sang-froid, la force d'âme et l'assurance d'un
          personnage. Les
          personnages dotés d'une Volonté élevée résistent au stress et la fatigue mentale, gardent leur calme dans des
          situations chaotique.</p>
      </div>
      <div class="four columns">
        <h5>Présence</h5>
        <p>
          La <strong>Présence</strong> regroupe le cran, le charisme, la confiance et la force de caractère. Les
          personnages dotés d'une
          Présence élevée sont des leaders tout désignés, attirent les regards quand ils entrent dans une pièce, mènent
          facilement une conversation avec n'importe qui et s'adaptent facilement à toute situation en société.
        </p>
      </div>
    </div>
  </div>

  <div class="docs-section" id="apptitudes">
    <h3>Les Aptitudes
    </h3>
    <p> Les <strong>Aptitudes</strong> regroupent tous les savoirs faire que vous avez acquis avec des formations ou des
      expériences
      personnelles. Chaque fois qu'un challenge survient, vous utilisez vos <strong>Aptitudes</strong> pour le résoudre.
      Vos
      <strong>Caractéristiques</strong> influencent évidemment en grande partie sur le score de chacune de vos
      <strong>Aptitude</strong>
    </p>
    <p> Comme pour les <strong>Caractéristiques</strong>, nous allons établir notre échelle de valeur. Cette fois-ci,
      nous allons aller
      de <strong>0 à 5</strong> (Et pas 6 ; un tel score, c'est réservé au talent uniquement). 0 étant l'absence totale
      de connaissance
      et de formation dans le domaine, et par la, je veux dire ; pas plus qu'un humanoïde lambda. 5 en revanche, c'est
      le score de quelqu'un qui fait autorité dans le milieu, et pour qui il est difficile de mettre en échec.</p>

    <table class="u-full-width">
      <thead>
        <tr>
          <th>Aptitude </th>
          <th>Caractéristique Associé</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <% aptitudeList.forEach(function(element) { %>
        <tr>
          <td><%= element.competence %></td>
          <td><%= element.caracteristic %></td>
          <td><%= element.description %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>

  <div class="docs-section" id="competences">
    <h3>Compétences</h3>
    <p> C'est là que je vous demande toute votre attention. Parce que c'est ici que vous allez pouvoir évoluer, et vous
      démarquer. La <strong>Compétence</strong>, c'est une action qui utilise la <strong>Résonnance</strong> pour
      prendre effet. Tout le monde peut les
      utiliser, mais seuls les bons savent comment bien le faire. Il y a déjà des centaines de
      <strong>Compétences</strong> que vous
      pourrez apprendre dans la galaxie. Mais si vous arriver a bien maîtrise le concept, vous pourrez un jour créer vos
      propres <strong>Compétences</strong>. Faisons un petit tour d'horizon sur les différents types de
      <strong>Compétences</strong>.
    </p>

    <div class="row">
      <div class="four columns">
        <h5>Les Attaques</h5>
        <p>Lorsque vous utiliser la <strong>Résonnance</strong> pour augmenter très brièvement vos capacités physiques,
          ou que vous performer une attaque complexe, on appelle cela une <strong>Attaque</strong>.
        </p>
      </div>
      <div class="four columns">
        <h5>Les Sorts</h5>
        <p>Si vous avez une volonté suffisante, vous serez sans doute capable de générer des projectiles entièrement
          matérialisés par votre <strong>Résonnance Propre</strong>. Il y a des centaines d'effets possible, mais tous
          ne seront pas à votre portée. En temps normal, les sorts sont gérés comme n'importe quel projectile. En
          général...
        </p>
        <p>Il y a des centaines d'effets possible, mais tous ne seront pas à votre portée.
        </p>
      </div>
      <div class="four columns">
        <h5>Les Enchantement</h5>
        <p>En général, un <strong>Enchantement</strong> est un sort qui dure tant que l'utilisateur est en situation de
          stress. Si vous vous relâchez, votre <strong>Résonnance Propre</strong> retrouve rapidement un état
          d'équilibre.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="four columns">
        <h5>Les Maléfices</h5>
        <p>Ces <strong>Compétences</strong> sont destinées a déstabiliser la <strong>Résonnance Propre</strong> d'un
          adversaire. Elles fonctionnent comme pour les <strong>Enchantements</strong>, mais ne faites pas l'amalgame.
        </p>
      </div>
      <div class="four columns">
        <h5>Les Rituels</h5>
        <p>C'est une version plus solide et durable que l'Enchantement. Un Rituel peut apporter de solide avantage
          pendant tout une journée, voir même pendant des mois. Ils demandent néanmoins un temps de préparation
          conséquents, et
          des bien souvent des consommables.
        </p>
      </div>
      <div class="four columns">
        <h5>Les Mantras</h5>
        <p>C'est sans doute le type de Compétences le plus déterminant. Un <strong>Mantra</strong>, c'est un peu la
          nature de votre <strong>Résonnance Propre</strong>. Cela va déterminer quelles sont vos affinités avec les
          autres types de
          <strong>Compétence</strong> et comment vous réagissez fasse à certains effets. De manière générale,
          <strong>Mantra</strong> acquis un jour,
          <strong>Mantra</strong> lié pour toujours. Alors, choisissez sobre !
        </p>
      </div>
    </div>
  </div>
</body>