<!--HEAD -->
<%- include('head'); -%>

<!-- BODY -->

<body class="code-snippets-visible">

  <div class="container">

    <%- include('header'); -%>
    <%- include('navbar'); -%>

    <div class="docs-section">
      <h1 class="docs-header">La raretée</h1>
    </div>
    <div class="docs-section">
      <h1 class="docs-header">Les Niveau de marcher</h1>
    </div>
    <div class="docs-section">
      <h1 class="docs-header">La recherche d'objets</h1>
    </div>
    <div class="docs-section">
      <h1 class="docs-header">Le marcher noir</h1>
    </div>
  </div>
</body>