<!--HEAD -->
<%- include('header'); -%>

<!-- BODY -->

<body>
  <div class="row">
    <div class="twelve columns">
      <h3>Histoire</h3>
    </div>
  </div>

  <div class="row bottom">
    <div class="twelve columns ">
      <h4>Chapitre 1</h4>
    </div>
    </p>
  </div>
</body>